# Welcome to Covide19 data analysis project

### Let's install and import the modules

In [1]:
!pip install pandas
import pip
pip.main(['install','seaborn'])

Requirement already satisfied: pandas in c:\python27\lib\site-packages
Requirement already satisfied: python-dateutil>=2.5.0 in c:\python27\lib\site-packages (from pandas)
Requirement already satisfied: pytz>=2011k in c:\python27\lib\site-packages\pytz-2017.2-py2.7.egg (from pandas)
Requirement already satisfied: numpy>=1.12.0 in c:\python27\lib\site-packages (from pandas)
Requirement already satisfied: six>=1.5 in c:\python27\lib\site-packages\six-1.11.0-py2.7.egg (from python-dateutil>=2.5.0->pandas)

You are using pip version 9.0.1, however version 21.1.3 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

Requirement already satisfied: seaborn in c:\users\user\appdata\local\programs\python\python36\lib\site-packages
Requirement already satisfied: matplotlib>=2.2 in c:\users\user\appdata\local\programs\python\python36\lib\site-packages (from seaborn)
Requirement already satisfied: numpy>=1.15 in c:\users\user\appdata\local\programs\python\python36\lib\site-packages (from seaborn)
Requirement already satisfied: pandas>=0.23 in c:\users\user\appdata\local\programs\python\python36\lib\site-packages (from seaborn)
Requirement already satisfied: scipy>=1.0 in c:\users\user\appdata\local\programs\python\python36\lib\site-packages (from seaborn)
Requirement already satisfied: cycler>=0.10 in c:\users\user\appdata\local\programs\python\python36\lib\site-packages (from matplotlib>=2.2->seaborn)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\user\appdata\local\programs\python\python36\lib\site-packages (from matplotlib>=2.2->seaborn)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\user\appdata\local\programs\python\python36\lib\site-packages (from matplotlib>=2.2->seaborn)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\user\appdata\local\programs\python\python36\lib\site-packages (from matplotlib>=2.2->seaborn)
Requirement already satisfied: pillow>=6.2.0 in c:\users\user\appdata\local\programs\python\python36\lib\site-packages (from matplotlib>=2.2->seaborn)
Requirement already satisfied: pytz>=2017.2 in c:\users\user\appdata\local\programs\python\python36\lib\site-packages (from pandas>=0.23->seaborn)
Requirement already satisfied: six in c:\users\user\appdata\local\programs\python\python36\lib\site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn)

You are using pip version 9.0.1, however version 21.1.3 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

0

In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
print("Modules are imported")

Modules are imported

## Task 2

### Task 2.1 importing covid19 dataset

importing "covid19_data" from "./Datasets" folder.

In [18]:
corona_dataset_csv = pd.read_csv("Datasets/covid19-data.csv")
corona_dataset_csv.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN

#### Let's check the shape of the dataframe

In [19]:
corona_dataset_csv.shape

(98639, 60)

#### Task 2.2: Delete the useless columns

In [20]:
corona_dataset_csv.drop(["iso_code", "continent"], axis=1, inplace=True)

In [21]:
corona_dataset_csv.head(10)

,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,0.026,0.026,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
1,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,0.026,0.000,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
2,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,0.026,0.000,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
3,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,0.026,0.000,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
4,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,0.026,0.000,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
5,Afghanistan,2020-02-29,1.0,0.0,0.143,NaN,NaN,0.0,0.026,0.000,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
6,Afghanistan,2020-03-01,1.0,0.0,0.143,NaN,NaN,0.0,0.026,0.000,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
7,Afghanistan,2020-03-02,1.0,0.0,0.000,NaN,NaN,0.0,0.026,0.000,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
8,Afghanistan,2020-03-03,2.0,1.0,0.143,NaN,NaN,0.0,0.051,0.026,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
9,Afghanistan,2020-03-04,4.0,2.0,0.429,NaN,NaN,0.0,0.103,0.051,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN

#### Task 2.3: Aggregating the rows by the country

In [23]:
corona_dataset_aggregated = corona_dataset_csv.groupby("location").sum()

In [25]:
corona_dataset_aggregated.head(10)

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
location,,,,,,,,,,,,,,,,,,,,,
Afghanistan,1.965707e+07,111592.0,108844.415,774261.0,4519.0,4411.849,5.049553e+05,2866.613,2796.028,19889.398,...,0.0,292544.210,4699.10,0.0,0.0,18495.540,245.00,31766.70,250.390,0.00
Africa,1.038479e+09,5412258.0,5316635.727,26639968.0,141118.0,139605.855,7.746388e+05,4037.211,3965.853,19871.702,...,0.0,0.000,0.00,0.0,0.0,0.000,0.00,0.00,0.000,0.00
Albania,2.360949e+07,132512.0,132489.856,447092.0,2456.0,2454.738,8.204007e+06,46046.276,46038.590,155358.950,...,537.9,148751.355,4929.12,3471.9,25036.8,0.000,1413.21,38420.73,388.755,494.34
Algeria,3.155489e+07,138465.0,137395.712,938172.0,3693.0,3667.999,7.195927e+05,3157.620,3133.241,21394.513,...,244.5,136119.996,3290.97,342.3,14865.6,40949.349,929.10,37594.32,365.772,0.00
Andorra,2.780293e+06,13882.0,13874.159,35783.0,127.0,127.026,3.598386e+07,179667.369,179565.680,463120.421,...,0.0,52712.205,3849.51,14007.0,18257.4,0.000,0.00,40441.59,419.244,401.21
Angola,5.827376e+06,38556.0,38165.578,140543.0,889.0,880.155,1.773057e+05,1173.118,1161.228,4276.226,...,0.0,128360.925,1832.10,0.0,0.0,12398.760,0.00,28434.75,270.165,0.00
Anguilla,0.000000e+00,0.0,0.000,0.0,0.0,0.000,0.000000e+00,0.000,0.000,0.000,...,0.0,0.000,0.00,0.0,0.0,0.000,0.00,11053.80,0.000,0.00
Antigua and Barbuda,1.804830e+05,1263.0,1262.296,5277.0,42.0,42.014,1.843017e+06,12897.248,12889.943,53886.598,...,0.0,90393.192,6216.24,0.0,0.0,0.000,1793.60,36353.44,367.216,0.00
Argentina,6.240564e+08,4405247.0,4346543.564,14588065.0,92568.0,91294.140,1.380785e+07,97470.317,96171.462,322774.952,...,326.4,103921.408,2992.00,8812.8,15068.8,0.000,2720.00,41708.48,459.680,0.00
Armenia,4.902342e+07,224797.0,224528.720,900630.0,4508.0,4503.995,1.654389e+07,75862.047,75771.504,303934.821,...,871.2,165048.840,3441.24,726.0,25216.4,45516.812,2032.80,36343.56,375.584,456.03

In [27]:
corona_dataset_aggregated.shape

(230, 55)

### Task 2.4: Visualizing data related to a coubtry for example China

In [30]:
corona_dataset_aggregated.loc["China"]

total_cases                              4.349629e+07
new_cases                                9.125900e+04
new_cases_smoothed                       9.046100e+04
total_deaths                             2.224309e+06
new_deaths                               4.619000e+03
new_deaths_smoothed                      4.599152e+03
total_cases_per_million                  3.021995e+04
new_cases_per_million                    6.341300e+01
new_cases_smoothed_per_million           6.284700e+01
total_deaths_per_million                 1.545494e+03
new_deaths_per_million                   3.208000e+00
new_deaths_smoothed_per_million          3.193000e+00
reproduction_rate                        5.300000e+02
icu_patients                             0.000000e+00
icu_patients_per_million                 0.000000e+00
hosp_patients                            0.000000e+00
hosp_patients_per_million                0.000000e+00
weekly_icu_admissions                    0.000000e+00
weekly_icu_admissions_per_million        0.000000e+00
weekly_hosp_admissions                   0.000000e+00
weekly_hosp_admissions_per_million       0.000000e+00
new_tests                                0.000000e+00
total_tests                              2.500000e+08
total_tests_per_thousand                 1.736920e+02
new_tests_per_thousand                   0.000000e+00
new_tests_smoothed                       0.000000e+00
new_tests_smoothed_per_thousand          0.000000e+00
positive_rate                            0.000000e+00
tests_per_case                           0.000000e+00
total_vaccinations                       4.509110e+10
people_vaccinated                        6.220000e+08
people_fully_vaccinated                  2.232990e+08
new_vaccinations                         1.105327e+09
new_vaccinations_smoothed                1.118047e+09
total_vaccinations_per_hundred           3.132820e+03
people_vaccinated_per_hundred            4.321000e+01
people_fully_vaccinated_per_hundred      1.551000e+01
new_vaccinations_smoothed_per_million    7.767770e+05
stringency_index                         3.769674e+04
population                               7.527663e+11
population_density                       7.723350e+04
median_age                               2.024010e+04
aged_65_older                            5.565243e+03
aged_70_older                            3.100867e+03
gdp_per_capita                           8.006456e+06
extreme_poverty                          3.661000e+02
cardiovasc_death_rate                    1.369732e+05
diabetes_prevalence                      5.094020e+03
female_smokers                           9.937000e+02
male_smokers                             2.531320e+04
handwashing_facilities                   0.000000e+00
hospital_beds_per_thousand               2.269820e+03
life_expectancy                          4.022393e+04
human_development_index                  3.980030e+02
excess_mortality                         0.000000e+00
Name: China, dtype: float64